{% extends "navBar.html" %}
{% load staticfiles %}
{% block title %}MANAGE MENU{% endblock %}
{% block cssfile %}
<link rel="stylesheet" type="text/css" href="{% static 'menuserve/css/manage_menu.css' %}">
{% endblock cssfile %}
{% block barContent %}
<!-- <li class="nav-item">
    <a class="nav-link" href="#">Order</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#">Menu<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Store</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Manager</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Employee</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Log Out</a>
</li> -->
{% endblock barContent %}
{% block tabletitle%}Menu Management{% endblock tabletitle%}
{% block btngroup %}
<div class="btn-group col-md-2" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal">Add</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal">Edit</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>
{% endblock %}
{% block tablehead %}
<th>#</th>
<th>Dish Name</th>
<th>Price</th>
<th>Description</th>
<th>Photo</th>
<th></th>
{% endblock tablehead %}
{% block tablebody %}
{% for menu in menus %}
<tr>
    <td>{{ menu.id }}</td>
    <td>{{ menu.name }}</td>
    <td>{{ menu.price }}</td>
    <td>{{ menu.description }}</td>
    <td>{{ menu.photo }}</td>
</tr>
{% endfor %}
{% endblock tablebody %}
{% block modalId %}addModal{% endblock %}
{% block modalTitle%}Add New Dish{% endblock modalTitle %}
{% block modalBody%}
<div class="form-group">
    <label for="addName">Dish Name</label>
    <input type="text" class="form-control" name="addName" id="addName" placeholder="Dish1">
</div>
<div class="form-group">
    <label for="addPrice">Price</label>
    <input type="text" class="form-control" name="addPrice" id="addPrice" placeholder="10.00">
</div>
<div class="form-group">
    <label for="addDes">Description</label>
    <input type="text" class="form-control" name="addDes" id="addDes" placeholder="Dish description">
</div>
<div class="form-group">
    <label for="addPhoto">Upload a dish photo</label>
    <input type="file" class="form-control-file" name="addPhoto" id="addPhoto">
</div>
{% endblock modalBody %}
{% block modalbtn %}
<button type="submit" class="btn btn-primary">Add</button>
{% endblock modalbtn %}
{% block modalId2 %}editModal{% endblock %}
{% block modalTitle2%}Edit Dish{% endblock %}
{% block modalBody2%}
<div class="form-group">
    <label for="editId">Dish ID</label>
    <input type="text" class="form-control" name="editId" id="editId" placeholder="1">
</div>
<div class="form-group">
    <label for="editName">Dish Name</label>
    <input type="text" class="form-control" name="editName" id="editName" placeholder="Dish1">
</div>
<div class="form-group">
    <label for="editPrice">Price</label>
    <input type="text" class="form-control" name="editPrice" id="editPrice" placeholder="10.00">
</div>
<div class="form-group">
    <label for="editDes">Description</label>
    <input type="text" class="form-control" name="editDes" id="editDes" placeholder="Dish description">
</div>
<div class="form-group">
    <label for="editPhoto">Upload a dish photo</label>
    <input type="file" class="form-control-file" name="editPhoto" id="editPhoto">
</div>
{% endblock %}
{% block modalbtn2 %}
<button type="submit" class="btn btn-primary">Edit</button>
{% endblock %}
{% block modalId3 %}deleteModal{% endblock %}
{% block modalTitle3%}Delete Dish{% endblock %}
{% block modalBody3%}
<h5>Please input ID to delete dish</h5>
<input type="text" class="form-control" name="deleteId" id="deleteId" placeholder="Dish ID">
{% endblock %}
{% block modalbtn3 %}
<button type="submit" class="btn btn-primary">Delete</button>
{% endblock %}