{% extends "navBar.html" %}
{% load staticfiles %}
{% block title %}MANAGE ROLE{% endblock %}
{% block cssfile %}
<link rel="stylesheet" type="text/css" href="{% static 'menuserve/css/manage_role.css' %}">
{% endblock cssfile %}
{% block barContent %}
<!-- <li class="nav-item">
    <a class="nav-link" href="#">Order</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Menu</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#">Store<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Manager</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Employee</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Log Out</a>
</li> -->
{% endblock barContent %}
{% block main %}
<div class="row">
    <h2 class="col-md-10">Customers</h2>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>username</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.id}}</td>
                <td>{{ customer.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <h2 class="col-md-10">Managers</h2>
    <div class="btn-group col-md-" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addManager">Add</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteManager">Delete</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>username</th>
            </tr>
        </thead>
        <tbody>
            {% for manager in managers %}
            <tr>
                <td>{{ manager.id}}</td>
                <td>{{ manager.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <h2 class="col-md-10">Employees</h2>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>username</th>
                <th>managers</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id}}</td>
                <td>{{ employee.username }}</td>
                <td>{{ employee.manager.id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block mymodalId %}addManager{% endblock %}
{% block mymodalTitle%}Add New Manager{% endblock %}
{% block mymodalBody%}
<div class="form-group">
    <label for="addManager">Manager Name</label>
    <input type="text" class="form-control" name="addManager" placeholder="Manager Username">
</div>
{% endblock %}
{% block mymodalbtn %}
<button type="submit" class="btn btn-primary">Add</button>
{% endblock %}
{% block extend%}
<div class="modal fade" id="deleteManager" tabindex="-1" role="dialog" aria-labelledby="exampleaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Delete New Manager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="deleteManager">Manager Name</label>
                        <input type="text" class="form-control" name="deleteManager" placeholder="Manager Username">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}