<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'menuserve/css/signin.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
</head>

<body>
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <img class="mb-4" id="logo" src="{% static 'menuserve/images/happy.jpg' %}" alt="error">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% for field in form.visible_fields %}
        <div class="form-field">{{field}}
            <span class="error">{{field.errors}}</span>
        </div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        <p>{{result}}</p>
        <p class="mt-5 mb-3 text-muted">Happy Restraunt</p>
    </form>
</body>

</html>